.unicBtnBlue{
background-color: #032940 !important;
  border: none !important;
  color: #fff !important;
  font-size: 1.4em !important;
  min-height: 36px !important;
  padding: 14px 20px !important;
  margin: 2px !important;
  border-radius: 2px !important;}
.unicBtnBlue:hover{
	background-image:none;
	background-color:#086197 !important;
	color:#FFF !important;
}
.privacyBlue a {
	color:#0b6eaa !important;
	text-decoration:none !important;
}
.privacyBlue a:hover {color:#52b0e9 !important;}

@CHARSET "ISO-8859-1";
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font-family: Verdana,Arial,Helvetica,sans-serif;
			text-decoration: none;
			color: #3c3c3c;
		}
		.fancywind 	{
			margin-top:25px;
			width:100%;
		}
		.h1fancywind 	{
			text-align:center;
			color:#e8248a;
			font-size:16px;
			font-weight:bold;
		}
		#popcontent{
		    margin-left: auto;
		    margin-right: auto;
		    width: 510px;
		    padding: 12px;
		    text-align: center;
		    margin-bottom:10px;
		}
		.shadowold {
			-moz-box-shadow: 0px 0px 8px #000;
			-webkit-box-shadow: 0px 0px 8px #000;
			box-shadow: 0px 0px 8px #000;
			/* For IE 8 */
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
			/* For IE 5.5 - 7 */
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
		}
		label {
			font-weight:bold;
			margin-right: 15px;
			/*width:150px;*/
		}

#passwordStrength
{
	display:block;
/*	float:left;*/
	width:75px;
	padding-left: 5px;
}

.strength0
{
	background:#FF0000;
	color:#FFFFFF;
}
.strength1
{
	background:#ff5500;
	color:#FFFFFF;
}

.strength2
{
	background:#FFFF00;
	color:#000000;
}

.strength3
{
	background:#55FF00;
	color:#000000;
}

.strength4
{
	background:#00FF00;
	color:#000000;
}

.strength5
{
	background:#FFFFFF;
	color:#000000;
}
#CaptchaSp{
	height:105px;
	
}

#robusto {
	display:inline-block;
	width:168px;
	height:32px;
	/*float:right;*/
}
.baja{
	background: url("../assets/baja.png") no-repeat scroll 0 0 transparent;
}
.media{
	background: url("../assets/media.png") no-repeat scroll 0 0 transparent;
}
.alta{
	background: url("../assets/alta.png") no-repeat scroll 0 0 transparent;
}
#ok1, #ok2 {
	display:inline-block;
	width:17px;
	height:21px;
}
.ok{
	background: url("../assets/ok_sm.png") no-repeat scroll 0 0 transparent;
}
