/*
 * jQuery UI Dialog 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog {
    position: absolute !important;
    padding: .2em !important;
    width: 300px !important;
    overflow: hidden !important;
}

.ui-dialog.ui-dialog-titlebar {
    padding: .5em 1em .3em !important;
    position: relative !important;
}

.ui-dialog.ui-dialog-title {
    float: left !important;
    margin: .1em 16px .2em 0 !important;
}

.ui-dialog.ui-dialog-titlebar-close {
    position: absolute !important;
    right: .3em !important;
    top: 50% !important;
    width: 19px !important;
    margin: -10px 0 0 0 !important;
    padding: 1px !important;
    height: 18px !important;
}

.ui-dialog.ui-dialog-titlebar-close span {
    display: block !important;
    margin: 1px !important;
}

.ui-dialog.ui-dialog-titlebar-close:hover, .ui-dialog.ui-dialog-titlebar-close:focus {
    padding: 0 !important;
}

.ui-dialog.ui-dialog-content {
    position: relative !important;
    border: 0 !important;
    padding: .5em 1em !important;
    background: none !important;
    overflow: auto !important;
    zoom: 1 !important;
}

.ui-dialog.ui-dialog-buttonpane {
    text-align: left !important;
    border-width: 1px 0 0 0 !important;
    background-image: none !important;
    margin: .5em 0 0 0 !important;
    padding: .3em 1em .5em .4em !important;
}

.ui-dialog.ui-dialog-buttonpane.ui-dialog-buttonset {
    float: right !important;
}

.ui-dialog.ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0 !important;
    cursor: pointer !important;
}

.ui-dialog.ui-resizable-se {
    width: 14px !important;
    height: 14px !important;
    right: 3px !important;
    bottom: 3px !important;
}

.ui-draggable.ui-dialog-titlebar {
    cursor: move !important;
}