@charset "UTF-8";
@import url("fuentes.css");

body {
    font-family: 'Montserrat-light';
    font-size: 1em;
    color: #3A4559;
}

#pdfButton{
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-position: center; 
    height: 60%;
    width: 60%;
}

#downButton{
    background-repeat: no-repeat;
    background-color: #8246AF;
    border: none;
    background-position: center; 
    height: 100%;
    width: 70%;
}

td{
    border-top:none !important;
}

#pagar{
    background-color: #8246AF;
    border: none;
}

.font-azul{
    color: #1F9BC7;
    font-family: 'Montserrat-bold' !important;
    font-size:16px !important;
}
.font15{
    font-size: 15px;
}
.fontnormal15{
    font-family: 'Montserrat-regular' !important;
    font-size: 15px;

}
.fontbold15{
    font-family: 'Montserrat-bold' !important;
    font-size: 15px;

}
.fontbold16gris{
    font-family: 'Montserrat-bold' !important;
    font-size: 16px;
    color: #3A4559;

}
/*+++++++++++++++++++++++menu++++++++++++++++++++++++++++++++*/
.navbar-nav { height: 70px;}
.bg-coler{ background-color: #F7F8F8!important; }
.bg-coler a{ text-align: left; }
.txto{
    color:#8B95A8 !important;
    font-size:17px;
    font-weight: 600;
 }
 .txto:hover { color: white !important;}
 a.txto:hover { color: white !important; }
 li.nav-item:hover {
    background-color: #3B4559;
    width: 200px;
    border-radius: 13px;
    height: 70px;
    padding: 1%;
}
#edos{margin-top: -2.2em;}
#edos2{margin-top: -2.2em;}
#n1{margin-right: 3em;}
#n2{ margin-right: 3em; line-height: none; margin-left: 6em; } 
#n3{margin-right: 3em; line-height: none; margin-left: 3em;}
#n4{margin-right: 2em; line-height: none; margin-left: 3em;}
#n5{margin-left: 3em;}

.text-center{color:#3a4559;}   
.texto{
    font-size: 16px;
    color: #3b4559;
}
.txtmedium{
    color:#3A4559;
    font-family:'Montserrat-medium' !important;
    font-size: 16px;
    padding: 1%;
}


    /*  ---- MENU LATERAL ---- */ 
    #izquierdamenu{
        width: 84%;
        margin-left: -42%;
        margin-top: -50px;
        border-radius: 0 20px 0 0;
    }
    .sidebar{ 
        display: block;
        height:100%; 
        width:calc(100% - 40%); 
        position:fixed!important; 
        z-index:1000; 
        transform:translateX(-167%);
    } 

    .bar-block .bar-item{ 
        width:100%; 
        display:block; 
        padding:8px 16px; 
        text-align:left; 
        border:none; 
        white-space:normal; 
        float:none; 
        outline:0; 
        cursor:pointer; 
        font-size: 20px; 
        width: 20px; 
    }

    .btn-close{
            width: 10% !important;
            text-align: center !important;
    }

    .animate-right{ 
        position:relative; 
        animation:animateright 0.4s 
    } 

    .bottomZone { 
        position: fixed; 
        bottom: 0; 
    } 

    .sepRight{ 
        padding-right: 5px;
        padding-top: 5px;
    }

    .tpe-opcion-lateral{
            height: 80%;
            overflow-y: auto;
            border-radius: 1px solid;
    }


    .tpe-moving-left{
            transform:translateX(0%);
            transition: 1s ease-in-out;
    }

    .tpe-moving-rigth{
            transform:translateX(59%);
            transition: 1s ease-in-out;
    }

    .menuShow {
            transform:translateX(50%) !important;
            transition: 1s ease-in-out;
    }

    .menuHide {
            transform:translateX(-167%) !important;
            transition: 1s ease-in-out;
    }

/*================= header =====================*/
.aboton{
    color: #3A4559; 
    font-size: 15px;
}
.boton{
    font-family:'Montserrat-medium' !important;
    background-color: transparent;
    border-color: gray;
}

.botonpago{
    border-radius: 1.5rem 0 0 1.5rem !important;
    width: 100%;
    color: white;
    background-color: #007bff;
}

.closeimg{
    margin: 0 -1em 0 -1em;
    width: 180%;
    border: none;
}

/*================= EDO CUENTA =====================*/
#izquierda{order: 1;}
#derecha{order: 2;}
@media screen and (min-width: 768px) {
    #izquierda{order: 2;}
    #derecha{order: 1;}
    
}

/*================= PLAN CONTRATADO =====================*/
.imgplan{margin-top: 30%;}
@media screen and (max-width: 768px) {
    .imgplan{margin-top: 0%;}
    .table td, .table th {padding: 0.5rem;}
    
    
    #n1{margin: 0px;margin-top: 2em;}
    #n2{margin: 0px;margin-top: 2em;} 
    #n3{margin: 0px;margin-top: 2em;}
    #n4{margin: 0px;margin-top: 2em;}
    .navbar-nav a { margin: 1em;}
    .nav-item{ margin: 1em;}
    .txto{
        color:#3A4559 !important;
        font-size: 0.8em;
        font-weight: 600;
     }
     a:hover{text-decoration: none;}
     
}

/*=================PORTABILIDAD =====================*/
.portabilidad{
   border: none;
   height: 77px;
   max-width: 137px;
   width: 100%
 }

.itramite{
    background:url('../img/portabilidad/IniciarTramite.png') no-repeat center center;
}
li.itramite.current{
    background:url('../img/portabilidad/IniciarTramiteOn.png') no-repeat center center;
}
.stramite{
    background:url('../img/portabilidad/SiguienteTramite.png')no-repeat center center; ;
}
li.stramite.current{
    background:url('../img/portabilidad/SiguienteTramiteOn.png') no-repeat center center;
}

.tabs-menu {
    height: 35px;
    float: left;
    clear: both;
    list-style-type:none;
    width:100%;
    text-align: center;
    padding:0;
    
}

.tabs-menu li {
    height: 77px;
    line-height: 35px;
    float: left;
    margin-right: 20px;
}
.tabReq{
  /*border: 1px solid gray;*/
}

li.tabReq.current {
    position: relative;
    background-color: rgb(144,144,144);
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {  
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: rgb(76,76,76);
    text-decoration: none; 
}

.tabs-menu .current a {
    color:  #fff;
}

.tab {
    
    background-color: #fff;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

@media screen and (max-width: 768px) {
   .portabilidad{ width: 30%;font-size: 12px;}
   .tabs-menu li { margin-right: 10px;}
    body {font-size: 0.875em;}
    .fontnormal15{font-size: 14px;}
    .fontbold15{font-size: 14px;}
  
}

.tab-content {
    width: 95%;
    padding: 20px;
    display: none;
  
}

#tab-1 {
    display: block;   
    
}

#cartaAcep{
    display:inline; 
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
#ineReverso{
    display:inline; 
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
#ineFrente{
    display:inline; 
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.btnCargaArchivos{
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0 !important;
    left:0;
}
.btnCargaArchivos:hover{
    cursor:pointer !important;
}

.btnCargaDoc{
    background-image:none;
    background-color:#8B95A8 !important;
    color:#FFF !important;
    width:100% !important;
    text-align:center;
    padding:7px !important;
}
.btnCargaDoc:hover{
    background-color:#8B95A8 !important;
    color:#FFF !important;
    padding:7px !important;
}
.btnCargaDocDesac{
    background-image:none;
    background-color:#B7B7B7 !important;
    color:#FFF !important;
    width:100px;
    text-align:center;
    border-radius:5px;
    padding:0px;
}
#url-archivo, #url-archivo2, #url-archivo3{
    border-radius: 2px;
    border: #000000 1px solid;
    text-align:center;
    height: 18px;
    width:250px;
}
.btnAceptar{
    background-color: #8246AF;
    color: white;
    font-size: 1em;
}
.btnLimpiar{
    background-color: #8B95A8;
    color: white
}

ul.listporta{
  list-style: none;padding-left:7%;
}

ul.listporta li:before {
  content: "\2022";
  color: #1F9BC7;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

/*=================MI PLAN CONTRATADO =====================*/
@media screen and (max-width: 768px) {
    #phoneWeb{
        display: none;
    }
    
    #phoneMobile{
        display: block !important;
    }
}