@import url("fuentes.css");

.row{ 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px; 
} 
rejillas a{ 
    color: #FFF; 
} 
 
.center{ 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    width: 15%; 
        
} 
principal{ 
    margin-left: 26em; 
    a{ 
        margin-left: 28.5em;  
        margin-top: -2.1em; 
    } 
    img{ 
        width: 38px;  
        height: 34px; 
        } 
} 
.bg-color 
{ 
 background-color: #3A4559;     
} 
 
.tpr-font 
{ 
    font-weight: 600; 
    color: #FFFFFF; 
} 
.tpr-font-header 
{ 
    font-weight: 600; 
    color: #3A4559; 
} 
 
#navbarNav 
{ 
    font-weight: 600; 
    color: #FFFFFF; 
    font-family: "Montserrat-semibold"; 
    font-size: 16px; 
    alignment-adjust: central; 
} 
#color-blue a{ 
   color: #13AAF5; 
} 
 
.navbar-nav a 
{ 
    text-align: center; 
    color: #FFF; 
    font-weight: 600; 
     
} 
 
#logoTP 
{ 
    width: 252px; 
    height: 52px; 
}