#footer{
    position: relative;
    width: 100%;
    color: #B1B1B1;
    font-size: .625em;
    text-align: center;
    clear: both;
    background-color: #3B4559;
    margin: 0px;
    padding: 0px;
}
#footer a{
    color:#1592E6;
    font-size:0.9em;
}
#footer a:hover{
    color:#F30;
}
#footer ul{
    float:center;
}
#footer li{
    float:left;
    list-style:none;
    color:#FFFFFF;
    font-size:1.0em;
}
#footer p {
    margin-top: -0.3em;
}
.image {
    margin-top: 3.5em;
}

@media only screen and (max-width: 768px) {

    #first {
            order: 2;
            margin-top: 2%;
    }
    #second {
            order: 1;
    }
}