@CHARSET "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: #797778;
	background: url("../assets/bg2.png") repeat-y scroll 50% center #FFFFFF;
}
#container {
	width:1000px; 
	margin-left:auto;
	margin-right:auto;
}
#header{
	height:60px;
	background-color: #000000;
	padding:15px;
}
#headerLogo {
	background: url("../assets/logo.png") no-repeat center transparent;
	text-indent:-5000000px;
	width:184px;
	height: 50px;
	display:block;
	margin-left:120px;
	float: left;
}
.separator{
	clear:both;
	height: 20px;
	display:block;
}
.shadow {
	background: url("../assets/shadow.png") no-repeat center top transparent;
}
#footer {
	text-align:center;
	color:#FFFFFF;
	background-color: #000000;
	padding:15px;
	font-size:12px;
	clear: both;
}
#footer a {
	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
	margin:10px;
}
#footer ul{
	float:center;
}
#footer li{
	float:left;
	list-style: none;
}
.fancywind 	{
	width:450px;
}
.h1fancywind 	{
	display:block;
	background-color: #000000;
	width:450px;
}
#content {
	clear: both;
	left: 100px;
	padding: 10px;
	position: relative;
	top: 23px;
	width: 780px;
}
a, img  {
	border: 1px none #FFFFFF;
}
#ft_mn {
	clear:both;
	width: 600px;
	text-align: center;
}
.contenido{
	width:500px;
	color: #797778;
	font-size:12px;
	padding:10px;
	float:left;
}
h1 {
    color: #83309A;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5em;
}
.slider ul { 
	list-style: none;
}
.slider {
	background-color:transparent;
	height: 250px;
	width:770px;
	margin-left: auto;
    margin-right: auto;
}
#sidebar {
	float: left;
	width: 250px;
}
#login {
	float: right;
}
#login a {
	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
	margin-right:10px;
}
#navbar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: -69px;
	width: 800px;
}
#backgrounds {
	background: url("../assets/bg1.png") repeat-x scroll 0 0 transparent;
	height: 100%;
	width: 100%;
}	
input.text {
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #E5E5E5;
	color: #797778;
	font-family: sans-serif;
	font-size: 12px;
	height: 10px;
	margin-right: 2px;
	padding: 3px;
	padding-left: 7px;
	vertical-align: top;
	border-radius:25px;
}



.nivoSlider {
    position:relative;
    background:url(themes/default/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}