@import url("fuentes.css");

h1 { 
  color: navy; 
  
  font-size: x-large; 
  font-weight: bolder; 
  text-transform: capitalize; 
} 
h2 { 
  color: navy; 
  font-size: large; 
  font-weight: bolder; 
  text-transform: capitalize; 
} 
h3 { 
  color: navy;
  font-size: large; 
  font-weight: lighter; 
  /*text-transform: capitalize; */
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #3A4559;
    font-size: 0.9375em;
    font-family: 'Montserrat-semibold'; 
    
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    /*height: 320px;*/
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
.contienelogo{text-align: center;}
.text-label{color:#3A4559;}
#createlogin{
    display: block;
    width: 60%;
    margin-left: 4em;
    color:#FFF;
    background-color: #8246AF;
    font-size: 22px;
    border: none;
}

.font-azul{
    color: #1F9BC7;
}
.btn-under{ 
    border: none;
    background-color: #f8f8f8;
    margin-left: 8em;
    color:#3A4559; 
    font-size:15px; 
    a{color:#3A4559;}
}
.btn-under:hover{
    background-color:none;
}
.btn-under-1{
    border: none;
    background-color: #f8f8f8; 
    margin-left: 32em; 
    margin-bottom: .7em;
    margin-top: -9.5em;
    color:#3A4559;
    font-size: 15px;
}
.btn-under-2{
    border: none; 
    background-color: #f8f8f8; 
    margin-left: 53em; 
    margin-bottom: .95em; 
    margin-top: -15.5em; 
    color:#3A4559; font-size: 15px;
}

/*--------- modal ---------*/

#content_pop {
	width:90%;
	padding:30px;
	margin: 0 auto;
        color: #3A4559;
        font-size: 0.9375em;
        font-family: 'Montserrat-semibold' !important;
}
#rememberBtn,#create_btn{
    display: block;
    width: 100%;
    color:#FFF;
    background-color: #8246AF;
    border: none;
}
.ulmodal{
    list-style: disc outside none;
    margin: 20px;
    line-height: 14px;
}

/*--------------------------*/


row .a{
    color: #FFFFFF!important;
    text-decoration: none;
}
.pie{
    margin: 5em 0 5em 0; 
}
.pieitem{
    background-color: #F8F8F8; 
    border-radius:15px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px){
    #login{text-align: center;}
    #logo{ width: 60%;}
    #createlogin {
        width: 100%;
        margin-left: 0;
    }
    .pieitem img{ width:10%;}
    .pie{margin: 2em;}
    .pieitem{margin: 3%; font-size: 13px;}

}