﻿body {
    width: 1024px; 
    margin-right: auto; 
    margin-left: auto;
}

#LayoutRoot {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.ribbonItem {
    display: inline-block;
}

.button-style {
    background: red;
    background: -moz-linear-gradient(top,  #E81F04 0%, #A30402 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E81F04), color-stop(100%,#A30402)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #E81F04 0%,#A30402 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #E81F04 0%,#A30402 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #E81F04 0%,#A30402 100%); /* IE10+ */
    background: linear-gradient(top,  #E81F04 0%,#A30402 100%); /* W3C */
    border: 1px solid #CB0E01;
    border-radius: 5px;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E81F04', endColorstr='#A30402', GradientType=0 ); /* IE6-9 */
    padding: 3px 20px 3px 20px;
}

.button-style:hover {
    background: red;
    background: -moz-linear-gradient(top,  #E60000 0%, #FF0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E60000), color-stop(100%,#FF0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #E60000 0%,#FF0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #E60000 0%,#FF0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #E60000 0%,#FF0000 100%); /* IE10+ */
    background: linear-gradient(top,  #E60000 0%,#FF0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E60000', endColorstr='#FF0000', GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}

.button-style-gray {
    background: gray;
    background: -moz-linear-gradient(top,  #C0C0C0 0%, #A9A9A9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C0C0), color-stop(100%,#A9A9A9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #C0C0C0 0%,#A9A9A9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #C0C0C0 0%,#A9A9A9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #C0C0C0 0%,#A9A9A9 100%); /* IE10+ */
    background: linear-gradient(top,  #C0C0C0 0%,#A9A9A9 100%); /* W3C */
    border: 1px solid #727476;
    border-radius: 5px;
    color: #4B4D4F;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C0C0C0', endColorstr='#A9A9A9', GradientType=0 ); /* IE6-9 */
    padding: 3px 20px 3px 20px;
}

.button-style-gray:hover {
    background: gray;
    background: -moz-linear-gradient(top,  #D3D3D3 0%, #DCDCDC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D3D3), color-stop(100%,#DCDCDC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #D3D3D3 0%,#DCDCDC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #D3D3D3 0%,#DCDCDC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #D3D3D3 0%,#DCDCDC 100%); /* IE10+ */
    background: linear-gradient(top,  #D3D3D3 0%,#DCDCDC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3D3D3', endColorstr='#DCDCDC', GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}

.button-style-blue {
    background: gray;
    background: -moz-linear-gradient(top,  #7DA8D8 0%, #2A5AAD 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7DA8D8), color-stop(100%,#2A5AAD)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7DA8D8 0%,#2A5AAD 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7DA8D8 0%,#2A5AAD 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7DA8D8 0%,#2A5AAD 100%); /* IE10+ */
    background: linear-gradient(top,  #7DA8D8 0%,#2A5AAD 100%); /* W3C */
    border: 1px solid #164981;
    border-radius: 5px;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7DA8D8', endColorstr='#2A5AAD', GradientType=0 ); /* IE6-9 */
    padding: 3px 20px 3px 20px;
}

.button-style-blue:hover {
    background: gray;
    background: -moz-linear-gradient(top,  #4976B8 0%, #4F7FB9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4976B8), color-stop(100%,#4F7FB9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4976B8 0%,#4F7FB9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4976B8 0%,#4F7FB9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4976B8 0%,#4F7FB9 100%); /* IE10+ */
    background: linear-gradient(top,  #4976B8 0%,#4F7FB9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4976B8', endColorstr='#4F7FB9', GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}
.button-style-yellow {
    background: yellow;
    background: -moz-linear-gradient(top,  #FFE000 0%, #E9B101 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFE000), color-stop(100%,#E9B101)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #FFE000 0%,#E9B101 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #FFE000 0%,#E9B101 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FFE000 0%,#E9B101 100%); /* IE10+ */
    background: linear-gradient(top,  #FFE000 0%,#E9B101 100%); /* W3C */
    border: 1px solid #D9B054;
    border-radius: 5px;
    color: #000000;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE000', endColorstr='#E9B101', GradientType=0 ); /* IE6-9 */
    padding: 8px 20px 8px 20px;
    font-weight:bold;
}

.button-style-yellow:hover {
    background: yellow;
    background: -moz-linear-gradient(top,  #C89700 0%, #A97E00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C89700), color-stop(100%,#A97E00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #C89700 0%,#A97E00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #C89700 0%,#A97E00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #C89700 0%,#A97E00 100%); /* IE10+ */
    background: linear-gradient(top,  #C89700 0%,#A97E00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C89700', endColorstr='#A97E00', GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}
li{
    list-style-type:none;
}
ul{
    margin: 0;
    padding: 0;
}  
.header-wrapper{
    background-color: #ffed00; 
    height: 96px; 
    position: relative;
    margin-top: 20px;
}
.header-wrapper img{
    height: 54px; margin-left: 32px; margin-top: 20px; width: 262px;
}
.contenedor{    
    background-color: #FFF;    
    margin-top: 10px;
    margin-bottom: 10px;
    position:relative;  
    height:auto; 

}

.contenido{
    /*min-height:960px;*/
}

select,
input[type="password"],
textarea,
input[type="text"] {
    padding: 3px;
	border-bottom:solid 1px #999999;
	border-right:solid 1px #999999;
	border-left: 0px;
	border-top: 0px;
	border-radius: 0 0 3px 0;
	-moz-border-radius: 0 0 3px 0;
	outline: 0;
}

button,
input { line-height: normal; }

button,
input,
select,
textarea { font-family: inherit; font-size: 13px; }

.TextCenter {
    text-align: center;
}
.Fancybox { position: fixed; z-index: 100001; left: 50%; top: 50%; display: none; overflow:auto; background-color:#FFF;}
.Fancybox:after { content:""; position: fixed; z-index: 100002; top: 1%; right: 1%; cursor: pointer; width: 26px; height: 26px; background-repeat: no-repeat;}

.BlackBackground { background-color: #000000; width: 100%; height: 100%; position: fixed; z-index: 100000; top: 0; left: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; display: none; }