@CHARSET "ISO-8859-1";
		a, img  {
			border: 1px none #FFFFFF;
		}
.userName {
	height:28px;
	width:200px;
}

	

.mini{
	font-size:10px;
}
.clean {
	padding:5px !important;
	font-size:14px;
}
.telefono {
	color:#7E2F9C;
	font-size: 16px;
    font-weight: bold;
}

label {
    display: -moz-box;
	display: block;
    float: left;
    /*width: 275px;*/
    font-weight:bold;
    font-size:12px;
}
label.error { 
	z-index: 1000000000;
	position:relative;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border:1px solid #aaaaaa;
	padding: 4px;
	background-image: url("../assets/wht2.png");
	left: 20px;
	top: -22px;
/*	width:180px;*/
	text-align: left;
	color: #FF0000;
	font-size: 12px;
	font-weight: normal !important;
}
.errorMsg{
	 color:#FF0000; 
	 font-weight:bold;
}
		.separator{
			clear:both;
			height: 20px;
			display:block;
		}
.separatorclear {
	clear:both;
	height:10px;
}


fieldset {
	border:1px solid #01B5E2; 
	width:530px; /*400px; */
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}


.Bienvenida {
	/*	font-size:14pt;*/
	text-transform: capitalize;
}
.Bienvenida .Nombre {
	/*color:#00B5E0;*/
	text-transform: capitalize;
	font-weight: bold;
}
.Clean {
	list-style: none outside none;
}
.center {
	text-align:center;
}


.rounded {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.shadowold {
	-moz-box-shadow: 0px 0px 8px #000;
	-webkit-box-shadow: 0px 0px 8px #000;
	box-shadow: 0px 0px 8px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.shadow {
	background: url("../assets/shadow.png") no-repeat center top transparent;
}

.darker {
	background-color: #000000;
}


.saldo{
	background:	url("../../assets/gradffffff.png") repeat-x scroll 50% 50% #4F235E;
	height:23px;
}
.referencia{
	background:	url("../../assets/gradffffff.png") repeat-x scroll 50% 50% #CD9733;
	height:23px;
	font-size: 14px;
	font-weight:bold;
	color:#FFFFFF;
}

.opconespago {
	background:	url("../../assets/gradffffff.png") repeat-x scroll 50% 50% #000000;
	height:23px;
	font-size: 14px;
	font-weight:bold;
	color:#FFFFFF;
}
#opcionespago{
	background-color:#D7D4DF;
	min-height:100px;
	height:200px;
}
#opcionespago th { color:#000000; font-size:12px; font-weight:bold;}
#opcionespago td {
    color: #000000;
    font-size: 12px;
    /*font-weight: bold;*/
    padding: 0 15px 0 15px;
}
#opcionespago ul{
	
}
.tarjetaspie{
    background-color: #FFFFFF;
    border: 2px solid #D7D4DF;
    float: right;
    height: 22px;
    margin-right: -2px;
    margin-top: -13px;
    position: relative;
  /*  width: 170px; */
  padding:5px;
}
.tarjetaspieesquina    {
	background-color: transparent;
    float: right;
    height: 5px;
    margin-right: -2px;
    margin-top: -13px;
    position: relative;
  /*  width: 170px; */
  padding:5px;
}

.clip {
	position:relative;
	top:-5px;
	left:10px;
}


td{
	padding:5px;
	padding-left: 28px;
	font-size:12px;
}
.par {
	color:#1F2120;
	padding:10px;
	background-color:#EDEFF0;
}
.non {
	color:#1F2120;
	padding:10px;
	background-color:#D7DADF;
}
.monto{
	text-align:right;
    padding-right: 10px;
}


table, td, tr, div { margin:none; border:none;}
table {
	width:100%; 
	border:none; 
	margin:none;
	border-collapse: collapse;
}
.totalamt{
	border-top:1px solid #D85597;
}
.total{
	font-weight:bold;
}
.separadorCl {	/*Rosa*/
	color:#FFFFFF;
	font-weight: bold;
	background:	url("../../assets/gradffffff.png") repeat-x scroll 50% 50% #980249;
}
.separadorCl2 {	/*Amarillo*/
	color:#FFFFFF;
	font-weight: bold;
	background:	url("../../assets/gradffffff.png") repeat-x scroll 50% 50% #C8D31F;
}
.modulo {
	width:425px; 
	margin-left: auto; 
	margin-right: auto;
}
.modulo2 {
	width:250px;
	margin-left:10px; 
}


#accordion3 div {
	background-image: url("../assets/flecha.png");
    background-repeat: no-repeat;
    color:#FFFFFF;
	font-size: 14px;
}
#accordion3 {
	color:#FFFFFF;
	font-size: 16px;
	cursor: pointer;
	cursor: hand;
}
#Arr {
	background-image: url('../css/cupertino/images/ui-icons_256x240.png');
    width:16px;
    display:block;
}

.Flecha1 {
    background-position: -32px -16px;
}
.Flecha2 {
	  background-position: -64px -16px;
}


#accordion2 div {
	background-image: url("../assets/flecha.png");
    background-repeat: no-repeat;
	
}
#accordion div, #accordion2 div {
	color:#1F2120;
	font-size: 14px;
}
#accordion h3, #accordion2 h3 {
	color:#FFFFFF;
	font-size: 16px;
	margin-top: 15px;	
}


#paymentForm input[type="text"] {
    color: #141615;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    font-weight:normal;
}

#paymentForm {
    color: #000000;
    font-size: 14px;
	font-weight:bold;
}

input[type="checkbox"] {
	background-color:#FFFFFF;
    color: #141615;
}


 #ReferenciasBancarias { background-color:#D7D4DF; height:200px; }
#ReferenciasBancarias th { color:#000000; font-size:12px; font-weight:bold;}
#ReferenciasBancarias td { color:#635d5d; font-size:12px; padding:5px;}
.facturaadeudo {
	color:#FF0000; 
	font-weight:bold; 
	background-color: #D7D4DF;
}


.tarjetas td{
	padding:5px;
	padding-left: 10px;
	font-size:14px;
}
.centered {
	float: none;
}
#breadcrumb {float:left; display:hidden;}
#mainmenu {float:right; display:hidden;}
		#ft_mn {
			clear:both;
			width: 600px;
			text-align: center;
		}
		
		#mainmenu li {
	float:left;
} 
#mainmenu li a {
	text-decoration: none;
	color:#353535;
} 

.sepipe {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #AAAAAA;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: 0;
}
	
			.contenido{
			width:500px;
			color: #797778;
			font-size:12px;
			padding:10px;
			float:left;
		}
				.contenidofull{
			color: #797778;
			font-size:12px;
			padding:10px;
		}

		.slider ul { 
			list-style: none;
		}
		.slider {
			background-color:transparent;
			height: 250px;

		}
		
		
		
		#passwordStrength
{
	height:10px;
	display:block;
	float:left;
}

.strength0
{
	width:250px;
	background:#cccccc;
}

.strength1
{
	width:50px;
	background:#ff0000;
}

.strength2
{
	width:100px;	
	background:#ff5f5f;
}

.strength3
{
	width:150px;
	background:#56e500;
}

.strength4
{
	background:#4dcd00;
	width:200px;
}

.strength5
{
	background:#399800;
	width:250px;
}
.nivoSlider {
    position:relative;
    background:url(themes/default/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}