*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Montserrat';
	background-color:#FFFFFF;
	font-size:12px !important;
}
#content {
	width:890px;
	clear:both;
	padding:30px;
	margin-left:auto;
	margin-right:auto;
-webkit-box-shadow: 0px 1px 14px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 14px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 14px rgba(50, 50, 50, 0.75);
background-color:#FFF !important;



}
#content_pop {
	width:90%;
	padding:30px;
	margin: 0 auto;
}
#top {
	width:auto;
	padding:10px;
	height:auto;
	clear:both;
}

#top2 {
	width:auto;
	padding:10px;
	height:auto;
	clear:both;
}
h2.saldo{
	font-family:Arial, Helvetica, sans-serif;
	background-color:transparent !important;
	color:#666 !important;
	font-weight:lighter;
	font-size:1.4em;
}
#contents {
	width:830px;
	padding:30px;

}
#bottom{
		width:830px;
		margin-left:30px;
		background: url("../assets/v1.png") 50% transparent;
		height:30px;
		clear:both;
}
#sq1, #sq2, #sq3, #sq4 {
	height:30px;
	width:30px;
}
#sq3 {
	background: url("../assets/sq1.png") no-repeat scroll 50% center transparent;
    margin-left: -30px;
	float:left;
}
#sq4 {
	background: url("../assets/sq2.png") no-repeat scroll 50% center transparent;
    float: right;
    margin-right: -30px;
    position: relative;
}

#lat1 {

		margin-left: -30px;
		margin-top: -30px;
		margin-bottom: -30px;
}
#lat2 {

    margin-bottom: -30px;
    margin-right: -30px;
    margin-top: -30px;
}
#header{
	min-height:170px;
	background-color:#000000;
	padding:15px;
}

#backgrounds {
	height: 100%;
	width: 100%;
}

#container{
	margin:0px auto;
}
#headerlogo {
	background: url("../assets/logo.png") no-repeat center transparent;
/*	text-indent:-50000000px;*/
/*	width:374px;*/
	width: 320px;
	height:95px;
	display:block;
	margin-left:5px;
	margin-top:20px;
	float:left;
}
#div1{

}
#navbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
    position: absolute;
    /*width: 987px;*/
    margin: 20px;
    top: 0;
}
#login_home {
    /*width: 987px;*/
	color:#FFF;
	float:right;
	height:auto;
	padding:8px;
	display:block;
}
a {
	color:#0b6eaa;
	text-decoration:none;
}
a:hover {color:#52b0e9;}
#login_home a {
	/*color:#EAA745;*/
	color:#B2B1B2; 
	text-shadow:#333 0px 0.5px;
	font-size:1.0em;
	text-decoration:none;
}
#login_home a:hover {
		color:#fff;
}
#login {
	float:right;
	height:auto;
	padding:8px;
	display:block;
}
#login a {
/*	color:#EAA745; */
	color:#B2B1B2; 
	text-shadow:#333 0px 0.5px;
	font-size:1.0em;
	text-decoration:none;
	margin-right:12px;
}
#login a:hover {
		color:#fff;
}
#iUser{
	width:230px;
	margin-bottom: 12px;
}
#iPwd{
	width:170px;
}
#CaptchaSp{width:450px; }
input[type="text"], input[type="password"]{
	height:14px;
	/*color:#999;*/
	padding: 7px;
	/*font-size:0.8em;*/
	font-size:1.2em;
	border-radius:2px;
	border:#000000 1px solid;
	background-color:#fff;
}
select{
	border-radius:2px;
	border:#000000 1px solid;

}
input[type="button"], input[type="submit"], input[type="reset"]{
    background-color:#032940;
    border: none;
    color: #fff;
    font-size:1.4em;
    min-height: 36px;
    padding:14px 20px;
    margin:2px;
    border-radius:2px;
}
input:hover[type="button"], input:hover[type="submit"], input:hover[type="reset"]{
	background-image:none;
	background-color:#086197;
	color:#FFF !important;
}
.button_home{
	
    
/*}
input:hover[type="button"], input:hover[type="submit"]{
	background-image:none;
	background-color:#086197 !important;
	color:#FFF !important;*/
}
.footer{
	background-color:#000;
}
#footer{
	position:relative;
	bottom:0px;
	/*width:100%;*/
	height:58px;
	margin:0px auto;
	color:#FFFFFF;
	font-size:1.0em;
	text-align:center;
	padding:15px;
	clear:both;
}
#footer a{
	color:#EAA745;
	font-size:0.9em;
	text-decoration:none;
}
#footer a:hover{
	color:#F30;
}
#footer ul{
	float:center;
}
#footer li{
	float:left;
	list-style:none;
	color:#FFFFFF;
	font-size:1.0em;
}
h1{color:#002841;}
#contenidos_bg {
	

}
#contenidos {
/*	padding: 100px 30px 30px;*/
	padding:30px;
	font-size:1.4em;
	height:530px;
}
#sidebar {
	float: left;
	width: 250px;
	display: none;
}
pre {
	font-family: Arial;
	font-size:1.0em;
	color: #151515;	
}
		a, img  {
			border: 1px none #FFFFFF;
		}
.userName {
	height:28px;
	width:200px;
}

	

.mini{
	font-size:0.8em;
}
.clean {
	padding:5px !important;
	font-size:1.2em;
}
.telefono {
	color:#7E2F9C;
	font-size: 1.4em;
    font-weight: bold;
}

label {
    display: -moz-box;
	display: block;
    float: left;
    /*width: 275px;*/
    font-weight:bold;
}
label.error { 
	z-index: 1000000000;
	position:relative;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border:1px solid #aaaaaa;
	padding: 4px;
	background-image: url("../assets/wht2.png");
	left: 20px;
	top: -22px;
/*	width:180px;*/
	text-align: left;
	color: #FF0000;
	font-size: 1.0em;
	font-weight: normal !important;
}
.errorMsg{
	 color:#FF0000; 
	 font-weight:bold;
}
		.separator{
			clear:both;
			height: 20px;
			display:block;
		}
.separatorclear {
	clear:both;
	height:10px;
}


fieldset {
	border:1px solid #01B5E2; 
	width:530px; /*400px; */
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}


.Bienvenida {
	/*	font-size:14pt;*/
	text-transform: capitalize;
}
.Bienvenida .Nombre {
	/*color:#00B5E0;*/
	text-transform: capitalize;
	font-weight: bold;
}
.Clean {
	list-style: none outside none;
}
.center {
	text-align:center;
}


.rounded {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.shadowold {
	-moz-box-shadow: 0px 0px 8px #000;
	-webkit-box-shadow: 0px 0px 8px #000;
	box-shadow: 0px 0px 8px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
}
.shadow {
	background: url("../assets/shadow.png") no-repeat center top transparent;
}

.darker {
	background-color: #000000;
}


.saldo{
	background:	url("../assets/gradffffff.png") repeat-x scroll 50% 50% #4F235E;
	height:23px;
}
.referencia{
	background-color:none;
	height:23px;
	font-size: 1.2em;
	font-weight:bold;
	color:#000;
}

.opconespago {
	height:23px;
	font-size: 1.2em;
	font-weight:bold;
	color:#FFFFFF;
}
#opcionespago{
	background-color:#d1d3d4;
	min-height:100px;
	height:200px;
}
#opcionespago th { color:#000000; font-size:12px; font-weight:bold;}
#opcionespago td {
    color: #000000;
    font-size: 1.0em;
    /*font-weight: bold;*/
    padding: 0 15px 0 15px;
}
#opcionespago ul{
	
}
.tarjetaspie{
    background-color: #FFFFFF;
    border: 2px solid #D7D4DF;
    float: right;
    height: 22px;
    margin-right: -2px;
    margin-top: -13px;
    position: relative;
  /*  width: 170px; */
  padding:5px;
}
.tarjetaspieesquina    {
	background-color: transparent;
    float: right;
    height: 5px;
    margin-right: -2px;
    margin-top: -13px;
    position: relative;
  /*  width: 170px; */
  padding:5px;
}

.clip {
	position:relative;
	top:-5px;
	left:10px;
}


td{
	padding:5px;
	padding-left: 28px;
	font-size:1.0em;
}
.monto{
	text-align:right;
    padding-right: 10px;
}


table, td, tr, div { margin:none; border:none;}
table {
	width:100%; 
	border:none; 
	margin:none;
	border-collapse: collapse;
}
.totalamt{
	border-top:1px solid #D85597;
}
.total{
	font-weight:bold;
}
.separadorCl {	/*Rosa*/
	background-color:#CACACA;
	color:#4E4E4E;
	font-weight: bold;
}
.separadorCl2 {	/*Amarillo*/
	color:#000;
	font-weight: bold;
}
.modulo {
	width:425px; 
	margin-left: auto; 
	margin-right: auto;
}
.modulo2 {
	width:250px;
	margin-left:10px; 
}


#accordion3 div {
	background-image: url("../assets/flecha.png");
    background-repeat: no-repeat;
    color:#FFFFFF;
	font-size: 1.2em;
}
#accordion3 {
	color:#FFFFFF;
	font-size: 1.4em;
	cursor: pointer;
	cursor: hand;
}
#Arr {
	background-image: url('../css/cupertino/images/ui-icons_256x240.png');
    width:16px;
	 height: 16px;
    display:block;
}

.Flecha1 {
    background-position: -32px -16px;
}
.Flecha2 {
	  background-position: -64px -16px;
}


#accordion2 div {
	
	
}
#accordion div, #accordion2 div {
	color:#1F2120;
	font-size: 1.0em;
}
#accordion h3, #accordion2 h3 {
	color:#FFFFFF;
	font-size: 1.4em;
	margin-top: 15px;	
}


#paymentForm input[type="text"] {
    color: #141615;
    padding: 5px;
    width: 150px;
    font-weight:normal;
}

#paymentForm {
    color: #000000;
    font-size: 1.0em;
	font-weight:bold;
}

input[type="checkbox"] {
	background-color:#FFFFFF;
    color: #141615;
	width:25px !important;
}


 #ReferenciasBancarias {height:200px; }
#ReferenciasBancarias th { color:#000000; font-size:1.0em; font-weight:bold;}
#ReferenciasBancarias td { color:#635d5d; font-size:1.0em; padding:5px;}
.facturaadeudo {
	color:#FF0000; 
	font-weight:bold; 
	background-color: #EAEAEA;
}


.tarjetas td{
	padding:5px;
	padding-left: 10px;
	font-size:1.2em;
}
.centered {
	float: none;
}
#breadcrumb {float:left; display:hidden;}
#mainmenu {float:right; display:hidden;}
		#ft_mn {
			clear:both;
			width: 600px;
			text-align: center;
		}
		
		#mainmenu li {
	float:left;
} 
#mainmenu li a {
	text-decoration: none;
	color:#353535;
} 

.sepipe {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #AAAAAA;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: 0;
}
	
			.contenido{
			width:500px;
			color: #797778;
			font-size:1.0em;
			padding:10px;
			float:left;
		}
				.contenidofull{
			color: #797778;
			font-size:1.0em;
			padding:10px;
		}

		.slider ul { 
			list-style: none;
		}
		.slider {
			background-color:transparent;
			height: 250px;

		}
		
		
		
		#passwordStrength
{
	height:10px;
	display:block;
	float:left;
}

.strength0
{
	width:250px;
	background:#cccccc;
}

.strength1
{
	width:50px;
	background:#ff0000;
}

.strength2
{
	width:100px;	
	background:#ff5f5f;
}

.strength3
{
	width:150px;
	background:#56e500;
}

.strength4
{
	background:#4dcd00;
	width:200px;
}

.strength5
{
	background:#399800;
	width:250px;
}
.nivoSlider {
    position:relative;
    background:url(themes/default/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}
#invoices{
	padding:5px;
	}
#invoices h3{
	background-color:#900 !important;
	padding:5px;
	color:#FFF !important;
}
#datos h3{
	background-color:#900 !important;
	padding:5px;
	color:#FFF !important;
}
table{
		background-color:#f2f2f2;

}
.par {
	color:#1F2120;
	padding:10px;

}
.non {
	color:#1F2120;
	padding:10px;

}
.monto{
	text-align:right;
    padding-right: 10px;
}

table, td, tr, div { margin:none; border:none;}
table {
	width:100%; 
	border:none; 
	margin:none;
	border-collapse: collapse;
}	
table h3{
	background-color:#930;
	}
.totalamt{
	border-top:1px solid #D85597;
}
.total{
	font-weight:bold;
}
#mainmenu li {
	float:left;
} 
#mainmenu li a {
	text-decoration: none;
	color:#353535;
} 

.sepipe {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #AAAAAA;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: 0;
} 
#ReferenciasBancarias {eight:200px; }
#ReferenciasBancarias th { color:#000000; font-size:1.0em; font-weight:bold;}
#ReferenciasBancarias td { color:#635d5d; font-size:1.0em; }
#breadcrumb {float:left;}
#mainmenu {float:right;}
#pagarAhora{
    background-color: #97040C;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 340px;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{
    background: rgba(239,31,31,.1)  !important;
    color:black  !important;
}

#cartaAcep{
    display:inline; 
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
#ineReverso{
    display:inline; 
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
#ineFrente{
    display:inline; 
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.btnCargaArchivos{
    opacity:0;
    width:5px; 
    height:0px;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0 !important;
    left:0;
}
.btnCargaArchivos:hover{
    cursor:pointer !important;
}

.btnCargaDoc{
    background-image:none;
    background-color:#032940 !important;
    color:#FFF !important;
    width:65% !important;
    text-align:center;
    padding:0px !important;
}
.btnCargaDoc:hover{
    background-color:#086197 !important;
    color:#FFF !important;
     padding:0px !important;
}
.btnCargaDocDesac{
    background-image:none;
    background-color:#B7B7B7 !important;
    color:#FFF !important;
    width:100px;
    text-align:center;
    border-radius:5px;
    padding:0px;
}
#url-archivo, #url-archivo2, #url-archivo3{
    border-radius: 2px;
    border: #000000 1px solid;
    text-align:center;
    height: 18px;
    width:250px;
}
#tblConsulta{
    width:90% !important; 
    border-collapse: collapse !important; 
}
#tblConsulta tr td{
    border: 1px solid black !important; 
}
#tblConsulta thead {
    background-color: #032940 !important;
    color:White;
    font-weight:bold; 
}
.btnDisabled{
    background-color: #b9b9b9 !important;
}
.btnDisabled:hover{
    background-color: #b9b9b9 !important;
}

.tabs-menu {
    height: 35px;
    float: left;
    clear: both;
    list-style-type:none;
    width:100%;
    text-align: center;
    padding:0;
    
}

.tabs-menu li {
    height: 35px;
    line-height: 35px;
    float: left;
    margin-right: 8px;
    background-color: rgb(202,202,202);
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    width:32%;
    text-align: center;
    font-size: 14pt;
}

.tabs-menu li.current {
    position: relative;
    background-color: rgb(144,144,144);
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 15px;
    color: rgb(76,76,76);
    text-decoration: none; 
}

.tabs-menu .current a {
    color:  #fff;
}

.tab {
    
    background-color: #fff;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.tab-content {
    width: 95%;
    padding: 20px;
    display: none;
  
}

#tab-1 {
    display: block;   
    
}
#tblForm th, #tblForm td {
    padding:6px !important;
}
#consPorta tbody th, #consPorta tbody td{
    padding:4px !important;
    border: 1px solid black;
    border-collapse: collapse;
}

/*pleca aviso*/
#ss{ 
    padding:15px;
    text-align: center; 
    background-color: rgb(192, 0, 96); 
    min-height: 65px; 
    vertical-align: middle; 
    font-weight: normal; 
    color: rgb(255, 255, 255) !important; 
    font-size: 11px !important; 
}
#ss a{
    color: rgb(255, 255, 255) !important;
}

.recoLabel{
    float: right !important; 
}

.recomenInput{
    width: 80% !important;
}

#tblRecomendadosTP td{
    font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px;
    color:  rgb(76,76,76);
}

#tblRecomendadosTP td input[type="text"]{
    font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 10px;
    border: rgb(76,76,76) 1px solid;
    border-radius: 0px;
    width: 80%;
    text-align: center;
}

#cont-Recomendados .buttonReco{
    width: 80%;
    text-align: center;
    background-color: #EAEAEA;
    color: #000;
}

#cont-Recomendados .buttonReco:hover{
    background-color: #032940;
    color: #000;
}

#tblRecomendadosTP .errorReco{
    font-size: 10px;
    font-weight: 600;
    color: red;
    display: none;
}

#tblDetalle p{
    font-size: 16px;
}

#tblDetalle tr .linea{
    border-bottom: black 1px solid;
}

.msjReco{
    color: red;
    font-size: 12px;
}