/* top banner web - wifi configuracion web */

*, body
	font-family: 'Open Sans', sans-serif !important
	padding: 0
	margin: 0
	box-sizing: border-box
.allCont
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background-color: #f0f0f0
	overflow: hidden
	overflow-y: scroll
.bannerBox
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 500px
	background-position: center 0px
	background-size: cover
	background-repeat: no-repeat
header
	position: absolute
	top: 0px
	left: 0px
	width: 100vh
	height: 500px
	.backMenu
		width: 100vw
		height: 120px
		background: -moz-linear-gradient(top, rgba(30,30,40,1) 0%, rgba(30,30,40,0) 40%, rgba(30,30,40,0) 100%) /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(30,30,40,1) 0%,rgba(30,30,40,0) 40%,rgba(30,30,40,0) 100%) /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(30,30,40,1) 0%,rgba(30,30,40,0) 40%,rgba(30,30,40,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e28', endColorstr='#001e1e28',GradientType=0 ) /* IE6-9 */
		opacity: 0.902
.pageCont
	position: absolute
	top: 0px
	left: 50%
	transform: translate3d(-50%,-0%,0)
	max-width: 950px
	width: 95%
	height: auto
	text-align: center
	padding-bottom: 10px
.infoPage
	position: relative
	top: 0px
	left: 50%
	transform: translate3d(-50%,0%,0)
	width: 80%
	height: 80px
.nameUser
	position: absolute
	top: 50%
	right: 0px
	transform: translate3d(0,-20%,0)
	width: auto
	height: auto
	font-size: 16px
	text-align: right
	color: #f0f0fa
	font-weight: lighter
	span 
		line-height: 30px
		font-size: 14px
		cursor: pointer
.totalplayBrand
	position: absolute
	top: 50%
	left: 0
	transform: translate3d(0,-50%,0)
	width: 128px
	height: 28px
.boxTitle
	position: relative
	float: left
	width: 100%
	height: 340px
.rowBrand
	position: absolute
	top: 50%
	transform: translate3d(0,-60%,0)
	right: 80px
	width: 350px
	height: 120px
	.wifiTotalBrand
		position: relative
		float: left
		margin: 0 0 10px 0
		width: 70px
		height: 46px
	.textBox
		position: relative
		float: left
		height: 100%
		width: 270px
		color: #f0f0fa
		text-align: right
		font-weight: lighter
		h1, h2, h3
			width: 100%
			height: auto
			float: left
		h3
			margin: 0
			font-size: 23px
		h2
			margin: 0
			font-size: 30px	
		h1
			margin: 0
			font-size: 48px



