.cardData
	position: relative
	display: inline-block
	margin: 0 auto
	margin-bottom: 20px
	max-width: 950px
	width: 80%
	height: auto
	padding: 50px 0px
	border-radius: 0.4em
	background-color: rgb(246, 246, 246)
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
	-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
.formColumn
	float: left
	margin: 0 4.21%
	max-width: 350px
	width: 36.74%
	height: auto

.contInputAddPop
	position: relative
	float: left
	margin: 0 auto
	margin-bottom: 10px
	margin-top: 20px
	width: 100%
	min-height: 80px
	height: auto
	text-align: left
.rowInfo
	position: relative
	float: left
	width: 100%
	height: auto
	padding-left: 4.21%
select 
	-moz-appearance: none
	-webkit-appearance: none
	background: url(../img/icons/chevron.svg), -moz-linear-gradient(top, #f5f5f5, #f1f1f1)
	background: url(../img/icons/chevron.svg), -ms-linear-gradient(top, #f5f5f5, #f1f1f1)
	background: url(../img/icons/chevron.svg), -o-linear-gradient(top, #f5f5f5, #f1f1f1)
	background: url(../img/icons/chevron.svg), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1)
	background: url(../img/icons/chevron.svg), linear-gradient(top, #f5f5f5, #f1f1f1)
	background-position: 97% 50%
	background-repeat: no-repeat
	background-size: 25px auto
	border: 1px solid #dcdcdc
	-moz-border-radius: 0px
	-webkit-border-radius: 0px
	border-radius: 0px
	color: #333
	cursor: default
	font-family: 'Open Sans', sans-serif
	font-size: 14px
	font-weight: lighter
	height: auto
	margin: 0
	min-width: 72px
	outline: 0
	padding: 2px 30px 7px 10px
	text-align: center
	text-indent: .01px
	text-overflow: ellipsis
	text-overflow: ''
	white-space: nowrap
	width: 100%
	border: 0


select:-ms-expand 
	display: none

select:hover 
	background-image: url(../img/icons/chevron.svg), -moz-linear-gradient(top, #f5f5f5, #f1f1f1)
	background-image: url(../img/icons/chevron.svg), -ms-linear-gradient(top, #f8f8f8, #f1f1f1)
	background-image: url(../img/icons/chevron.svg), -o-linear-gradient(top, #f8f8f8, #f1f1f1)
	background-image: url(../img/icons/chevron.svg), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1)
	background-image: url(../img/icons/chevron.svg), linear-gradient(top, #f8f8f8, #f1f1f1)
	color: #111
	cursor: pointer

select:disabled 
	background-image: url(../img/icons/chevron.svg)
	color: #aaaab4
	font-style: italic
	opacity: .5
	font-style: italic

.inputTextCont
	position: relative
	left: 50%
	transform: translate3d(-50%,0,0)
	margin-top: 10px
	margin-bottom: 10px
	width: 100%
	height: 30px
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: 1px
	border-color: #999
	border-style: solid
	overflow: hidden

.inputTextContDisable
	position: relative
	left: 50%
	transform: translate3d(-50%,0,0)
	margin-top: 10px
	margin-bottom: 10px
	width: 100%
	height: 30px
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: 0
	overflow: hidden

.inputTextareaDisable
	position: relative
	left: 50%
	transform: translate3d(-50%,0,0)
	margin-top: 10px
	margin-bottom: 10px
	width: 270px
	height: auto
	border-top: 0
	border-left: 0
	border-right: 0
	border-bottom: 0
	overflow: hidden

input[type=text], input[type=password]
	padding: 0
	margin: 0
	border: 0
	border: none
	background-color: transparent

input[type=password]
	width: 70%

textarea[type=text]
	padding: 0
	margin: 0
	border: 0
	border: none
	background-color: transparent
	resize: none

input[name="textLineInput"]
	position: relative
	left: 0px
	width: 100%
	padding: 0px 10px
	height: auto
	font-size: 14px
	color: #555f69
	font-weight: lighter

input[name="passLineInput"]
	position: relative
	left: 0px
	width: 80%
	padding: 0px 10px
	height: auto
	font-size: 14px
	color: #555f69
	font-weight: lighter

textarea[name="textLineInput"]
	position: relative
	left: 0px
	width: 100%
	padding: 0px 10px
	height: auto
	font-size: 14px
	color: #555f69
	font-weight: lighter
	resize: none

.inputTextCont input[type="text"]::-webkit-input-placeholder, 
.inputTextCont input[type="text"]::-moz-placeholder,
.inputTextCont input[type="text"]:-ms-input-placeholder,
.inputTextCont input[type="text"]:-moz-placeholder,
.inputTextCont input[type="text"]:placeholder
	position: relative
	left: 0px
	width: 100%
	padding: 0px 10px 0px 10px
	height: 100%
	font-size: 14px
	color: #aaaab4
	font-style: italic
	font-weight: lighter

input[type="checkbox"] 
	-webkit-appearance: none
	background: #fff
	border: 1px solid #c6c6c6
	border-image: -ms-linear-gradient(top, #fff, #fff)
	-webkit-border-radius: 1px
	border-radius: 1px
	height: 13px
	left: 1px
	margin: 5px 8px 0 0
	outline: 0
	position: relative
	top: 1px
	width: 13px
	float: left

input[type="checkbox"]:hover 
	border: 1px solid #b2b2b2
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1)
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1)


input[type="checkbox"]:active 
	background-color: #ebebeb
	border: 1px solid #c6c6c6


input[type="checkbox"]:focus 
	border: 1px solid #4d90fe


input[type="checkbox"]:checked:after 
	background: url(https://ssl.gstatic.com/ui/v1/menu/checkmark_2x.png) no-repeat 0 0 / 21px
	content: ''
	display: block
	height: 21px
	left: -5px
	position: relative
	top: -6px
	width: 21px


input[type="checkbox"]:disabled
	background-color: #fff
	border: 1px solid #e1e1e1
	-webkit-box-shadow: none
	box-shadow: none
	opacity: .5

label
	font-family: 'Open Sans', sans-serif
	font-size: 12px
	color: #aaaab4
	text-align: left
	text-transform: uppercase

.hintTextInput
	float: left
	width: 100%
	height: auto
	margin-top: -5px
	font-size: 14px
	font-weight: lighter
	color: #555f69

.hintErrorTextInput
	float: left
	width: 100%
	height: auto
	margin-top: -5px
	font-size: 14px
	text-align: left
	font-weight: lighter
	color: #dc3c46
	opacity: 1
	transition: all 0.3s ease-in-out 0s

.hintErrorTextInputHide
	float: left
	width: 100%
	height: auto
	margin-top: -5px
	font-size: 14px
	text-align: left
	font-weight: lighter
	color: #dc3c46
	opacity: 0
	transition: all 0.3s ease-in-out 0s

.titleInputBox
	width: 230px
	padding-left: 10px
	height: 12px
	font-size: 12px
	color: #aaaab4
	text-align: left
	text-transform: uppercase

.titleInputBoxError
	width: 230px
	padding-left: 10px
	height: 12px
	font-size: 12px
	color: #dc3c46
	text-align: left
	text-transform: uppercase

*:focus 
	outline: none

p
	margin: 10px 0px 0px 0px
	font-size: 14px
	color: #555f69
	text-align: left

.buttonDisable, .buttonOff, .buttonOn
	position: absolute
	right: 0px
	top: 50%
	transform: translate3d(0,-50%,0)
	width: 190px
	height: 35px
	border-radius: 5px
	background-color: #555f69
	color: #f0f0fa
	text-align: center
	padding-left: 25px
	font-size: 16px 
	line-height: 32px
	font-weight: lighter
	transition: all 0.3s ease-in-out 0s
	cursor: pointer
	.iconWifi
		position: absolute
		top: 50%
		transform: translate3d(0,-50%,0)
		left: 35px
		width: 22px
		height: 22px
.buttonOff
	background-color: #0772c9
	&:hover
		-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24)
		-moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24)
		box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24)
	&:active
		background-color: #0268bb
		box-shadow: none

.showOff
	position: absolute
	top: 18px
	right: 18px
	width: 30px
	height: 30px
	background-image: url("../img/icons/PassOff.png")
	background-size: 100% auto
	cursor: pointer

.showOn
	position: absolute
	top: 18px
	right: 35px
	width: 30px
	height: 30px
	background-image: url("../img/icons/PassOn.png")
	background-size: 100% auto
	cursor: pointer

.colorPassword
	position: absolute
	top: 28px
	right: 3px
	width: 10px
	height: 10px
	border-radius: 50%
	cursor: default
	background-color: #dcdce6




