@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2)
	.pageCont
		position: absolute
		top: 0px
		left: 50%
		transform: translate3d(-50%,-0%,0)
		width: 950px
		height: auto
		text-align: center
		padding-bottom: 10px

@media only screen and (max-width: 900px)
	.pageCont
		position: absolute
		top: 0px
		left: 50%
		transform: translate3d(-50%,-0%,0)
		width: 100%
		height: auto
		text-align: center
		padding-bottom: 10px

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1)
	.pageCont
		position: absolute
		top: 0px
		left: 50%
		transform: translate3d(-50%,-0%,0)
		width: 90%
		height: auto
		text-align: center
		padding-bottom: 10px
	.cardData
		position: relative
		display: inline-block
		margin: 0 auto
		margin-bottom: 20px
		max-width: 950px
		width: 95%
		height: auto
		padding: 50px 0px
		border-radius: 0.4em
		background-color: rgb(246, 246, 246)
		-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
@media only screen and (max-width: 768px)
	.pageCont
		position: absolute
		top: 0px
		left: 50%
		transform: translate3d(-50%,-0%,0)
		width: 100%
		height: auto
		text-align: center
		padding-bottom: 10px
	.cardData
		position: relative
		display: inline-block
		margin: 0 auto
		margin-bottom: 20px
		max-width: 950px
		width: 95%
		height: auto
		padding: 50px 0px
		border-radius: 0.4em
		background-color: rgb(246, 246, 246)
		-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)

@media only screen and (min-device-width: 414px) and (max-width: 736px) and (min-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) 
	.bannerBox
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 500px
		background-position: 30% 0px
		background-size: cover
		background-repeat: no-repeat
	.pageCont
		position: absolute
		top: 0px
		left: 50%
		transform: translate3d(-50%,-0%,0)
		width: 100%
		height: auto
		text-align: center
		padding-bottom: 10px
	.cardData
		position: relative
		display: inline-block
		margin: 0 auto
		margin-bottom: 20px
		max-width: 950px
		width: 95%
		height: auto
		padding: 20px 0px
		border-radius: 0.4em
		background-color: rgb(246, 246, 246)
		-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
	.infoPage
		position: relative
		top: 0px
		left: 50%
		transform: translate3d(-50%,0%,0)
		width: 93%
		height: 80px		
	.totalplayBrand
		position: absolute
		top: 50%
		transform: translate3d(0,-50%,0)
		left: 0%
		width: 128px
		height: 28px
	.boxTitle
		position: relative
		float: left
		width: 100%
		height: 280px
	.rowBrand
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%,-50%,0)
		width: 350px
		height: 120px
	.formColumn
		float: left
		margin: 0 5%
		max-width: 350px
		width: 85%
		height: auto
	.contInputAddPop
		position: relative
		float: left
		margin: 0 auto
		margin-bottom: 10px
		margin-top: 0px
		width: 100%
		height: auto
		min-height: 50px
		text-align: left
		p
			height: auto
			font-size: 12px
	.rowInfo
		position: relative
		float: left
		width: 100%
		height: auto
		padding-left: 4.21%
		margin-bottom: 30px

@media only screen and (max-width: 550px)
	.bannerBox
		position: absolute
		top: 0
		left: 0
		width: 100vw
		height: 500px
		background-position: 30% 0px
		background-size: cover
		background-repeat: no-repeat
	.pageCont
		position: absolute
		top: 0px
		left: 50%
		transform: translate3d(-50%,-0%,0)
		width: 100%
		height: auto
		text-align: center
		padding-bottom: 10px
	.cardData
		position: relative
		display: inline-block
		margin: 0 auto
		margin-bottom: 20px
		max-width: 950px
		width: 95%
		height: auto
		padding: 30px 0px
		border-radius: 0.4em
		background-color: rgb(246, 246, 246)
		-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)	
	.totalplayBrand
		position: relative
		top: 20px
		left: 50%
		transform: translate3d(-50%,0,0)
		width: 128px
		height: 28px
	.boxTitle
		position: relative
		float: left
		width: 100%
		height: 280px
	.rowBrand
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%,-50%,0)
		width: 350px
		height: 120px
	.formColumn
		float: none
		margin: 0 auto
		max-width: 350px
		width: 85%
		height: auto
	.contInputAddPop
		position: relative
		float: left
		margin: 0 auto
		margin-bottom: 10px
		margin-top: 0px
		width: 100%
		height: auto
		min-height: 50px
		text-align: left
		padding: 0px
		p
			height: auto
			font-size: 12px
	.rowInfo
		position: relative
		float: left
		width: 100%
		height: auto
		padding-left: 0%
		margin-bottom: 30px
@media only screen and (min-device-width: 375px) and (max-device-width: 770px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape)
	.cardData
		position: relative
		display: inline-block
		margin: 0 auto
		margin-bottom: 20px
		max-width: 950px
		width: 95%
		height: auto
		padding: 40px 0px
		border-radius: 0.4em
		background-color: rgb(246, 246, 246)
		-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35)
	.formColumn
		float: left
		margin: 0 3%
		width: 43%

@media only screen and (max-width: 667px)
	.totalplayBrand
		position: relative
		top: 50%
		left: 0
		transform: translate3d(0,-50%,0)
		width: 128px
		height: 28px
	.boxTitle
		position: relative
		float: left
		width: 100%
		height: 150px
		margin-top: 20px
	.rowBrand
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%,-50%,0)
		right: 80px
		width: 350px
		height: 120px
	.infoPage
		position: relative
		top: 0px
		left: 50%
		transform: translate3d(-50%,-15%,0)
		width: 93%
		height: 100px
	.nameUser
		position: absolute
		top: 50%
		right: 0px
		transform: translate3d(0,-20%,0)
		width: 160px
		height: auto
		font-size: 16px
		text-align: right
		color: #f0f0fa
		font-weight: lighter
@media only screen and (min-device-width: 360px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) 
	.rowBrand
		position: absolute
		top: 50%
		left: 50%
		transform: translate3d(-50%,-50%,0)
		width: 350px
		height: 120px
		.wifiTotalBrand
			position: relative
			float: left
			margin: 0 0 20px 0
			width: 70px
			height: 46px
		.textBox
			position: relative
			float: left
			height: 100%
			width: 270px
			color: #f0f0fa
			text-align: right
			font-weight: lighter

@media only screen and (max-width: 360px)
	.rowBrand
		position: absolute
		top: 50%
		transform: translate3d(-50%,-80%,0)
		right: 50%
		width: 90%
		height: 120px
		.wifiTotalBrand
			position: relative
			float: right
			margin: 0 0 10px 0
			width: 70px
			height: 46px
		.textBox
			position: relative
			float: right
			height: 100%
			width: 270px
			color: #f0f0fa
			text-align: right
			font-weight: lighter
	.infoPage
		position: relative
		top: 0px
		left: 50%
		transform: translate3d(-50%,-12%,0)
		width: 93%
		height: 80px
	
	





