/* top banner web - wifi configuracion web */
*, body {
  font-family: "Open Sans", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.allCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  overflow-y: scroll; }

.bannerBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  background-position: center 0px;
  background-size: cover;
  background-repeat: no-repeat; }

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vh;
  height: 500px; }
  header .backMenu {
    width: 100vw;
    height: 120px;
    background: -moz-linear-gradient(top, #1e1e28 0%, rgba(30, 30, 40, 0) 40%, rgba(30, 30, 40, 0) 100%);
    background: -webkit-linear-gradient(top, #1e1e28 0%, rgba(30, 30, 40, 0) 40%, rgba(30, 30, 40, 0) 100%);
    background: linear-gradient(to bottom, #1e1e28 0%, rgba(30, 30, 40, 0) 40%, rgba(30, 30, 40, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e28', endColorstr='#001e1e28',GradientType=0 );
    opacity: 0.902; }

.pageCont {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  max-width: 950px;
  width: 95%;
  height: auto;
  text-align: center;
  padding-bottom: 10px; }

.infoPage {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  width: 80%;
  height: 80px; }

.nameUser {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate3d(0, -20%, 0);
  width: auto;
  height: auto;
  font-size: 16px;
  text-align: right;
  color: #f0f0fa;
  font-weight: lighter; }
  .nameUser span {
    line-height: 30px;
    font-size: 14px;
    cursor: pointer; }

.totalplayBrand {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  width: 128px;
  height: 28px; }

.boxTitle {
  position: relative;
  float: left;
  width: 100%;
  height: 340px; }

.rowBrand {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -60%, 0);
  right: 80px;
  width: 350px;
  height: 120px; }
  .rowBrand .wifiTotalBrand {
    position: relative;
    float: left;
    margin: 0 0 10px 0;
    width: 70px;
    height: 46px; }
  .rowBrand .textBox {
    position: relative;
    float: left;
    height: 100%;
    width: 270px;
    color: #f0f0fa;
    text-align: right;
    font-weight: lighter; }
    .rowBrand .textBox h1, .rowBrand .textBox h2, .rowBrand .textBox h3 {
      width: 100%;
      height: auto;
      float: left; }
    .rowBrand .textBox h3 {
      margin: 0;
      font-size: 23px; }
    .rowBrand .textBox h2 {
      margin: 0;
      font-size: 30px; }
    .rowBrand .textBox h1 {
      margin: 0;
      font-size: 48px; }

.cardData {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 950px;
  width: 80%;
  height: auto;
  padding: 50px 0px;
  border-radius: 0.4em;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }

.formColumn {
  float: left;
  margin: 0 4.21%;
  max-width: 350px;
  width: 36.74%;
  height: auto; }

.contInputAddPop {
  position: relative;
  float: left;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
  min-height: 80px;
  height: auto;
  text-align: left; }

.rowInfo {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding-left: 4.21%; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../img/redwifi/icons/chevron.svg), -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(../../img/redwifi/icons/chevron.svg), -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(../../img/redwifi/icons/chevron.svg), -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(../../img/redwifi/icons/chevron.svg), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(../../img/redwifi/icons/chevron.svg), linear-gradient(top, #f5f5f5, #f1f1f1);
  background-position: 97% 50%;
  background-repeat: no-repeat;
  background-size: 25px auto;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: #333;
  cursor: default;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  height: auto;
  margin: 0;
  min-width: 72px;
  outline: 0;
  padding: 2px 30px 7px 10px;
  text-align: center;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  text-overflow: "";
  white-space: nowrap;
  width: 100%;
  border: 0; }

select:-ms-expand {
  display: none; }

select:hover {
  background-image: url(../../img/redwifi/icons/chevron.svg), -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(../../img/redwifi/icons/chevron.svg), -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(../../img/redwifi/icons/chevron.svg), -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(../../img/redwifi/icons/chevron.svg), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(../../img/redwifi/icons/chevron.svg), linear-gradient(top, #f8f8f8, #f1f1f1);
  color: #111;
  cursor: pointer; }

select:disabled {
  background-image: url(../../img/redwifi/icons/chevron.svg);
  color: #aaaab4;
  font-style: italic;
  opacity: 0.5;
  font-style: italic; }

.inputTextCont {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-color: #999;
  border-style: solid;
  overflow: hidden; }

.inputTextContDisable {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  overflow: hidden; }

.inputTextareaDisable {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 270px;
  height: auto;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  overflow: hidden; }

input[type=text], input[type=password] {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  background-color: transparent; }

input[type=password] {
  width: 70%; }

textarea[type=text] {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  background-color: transparent;
  resize: none; }

input[name="textLineInput"] {
  position: relative;
  left: 0px;
  width: 100%;
  padding: 0px 10px;
  height: auto;
  font-size: 14px;
  color: #555f69;
  font-weight: lighter; }

input[name="passLineInput"] {
  position: relative;
  left: 0px;
  width: 80%;
  padding: 0px 10px;
  height: auto;
  font-size: 14px;
  color: #555f69;
  font-weight: lighter; }

textarea[name="textLineInput"] {
  position: relative;
  left: 0px;
  width: 100%;
  padding: 0px 10px;
  height: auto;
  font-size: 14px;
  color: #555f69;
  font-weight: lighter;
  resize: none; }

.inputTextCont input[type="text"]::-webkit-input-placeholder,
.inputTextCont input[type="text"]::-moz-placeholder,
.inputTextCont input[type="text"]:-ms-input-placeholder,
.inputTextCont input[type="text"]:-moz-placeholder,
.inputTextCont input[type="text"]:placeholder {
  position: relative;
  left: 0px;
  width: 100%;
  padding: 0px 10px 0px 10px;
  height: 100%;
  font-size: 14px;
  color: #aaaab4;
  font-style: italic;
  font-weight: lighter; }

input[type="checkbox"] {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-image: -ms-linear-gradient(top, #fff, #fff);
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 13px;
  left: 1px;
  margin: 5px 8px 0 0;
  outline: 0;
  position: relative;
  top: 1px;
  width: 13px;
  float: left; }

input[type="checkbox"]:hover {
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

input[type="checkbox"]:active {
  background-color: #ebebeb;
  border: 1px solid #c6c6c6; }

input[type="checkbox"]:focus {
  border: 1px solid #4d90fe; }

input[type="checkbox"]:checked:after {
  background: url(https://ssl.gstatic.com/ui/v1/menu/checkmark_2x.png) no-repeat 0 0/21px;
  content: "";
  display: block;
  height: 21px;
  left: -5px;
  position: relative;
  top: -6px;
  width: 21px; }

input[type="checkbox"]:disabled {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.5; }

label {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #aaaab4;
  text-align: left;
  text-transform: uppercase; }

.hintTextInput {
  float: left;
  width: 100%;
  height: auto;
  margin-top: -5px;
  font-size: 14px;
  font-weight: lighter;
  color: #555f69; }

.hintErrorTextInput {
  float: left;
  width: 100%;
  height: auto;
  margin-top: -5px;
  font-size: 14px;
  text-align: left;
  font-weight: lighter;
  color: #dc3c46;
  opacity: 1;
  transition: all 0.3s ease-in-out 0s; }

.hintErrorTextInputHide {
  float: left;
  width: 100%;
  height: auto;
  margin-top: -5px;
  font-size: 14px;
  text-align: left;
  font-weight: lighter;
  color: #dc3c46;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s; }

.titleInputBox {
  width: 230px;
  padding-left: 10px;
  height: 12px;
  font-size: 12px;
  color: #aaaab4;
  text-align: left;
  text-transform: uppercase; }

.titleInputBoxError {
  width: 230px;
  padding-left: 10px;
  height: 12px;
  font-size: 12px;
  color: #dc3c46;
  text-align: left;
  text-transform: uppercase; }

*:focus {
  outline: none; }

p {
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  color: #555f69;
  text-align: left; }

.buttonDisable, .buttonOff, .buttonOn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background-color: #555f69;
  color: #f0f0fa;
  text-align: center;
  padding-left: 25px;
  font-size: 16px;
  line-height: 32px;
  font-weight: lighter;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer; }
  .buttonDisable .iconWifi, .buttonOff .iconWifi, .buttonOn .iconWifi {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 35px;
    width: 22px;
    height: 22px; }

.buttonOff {
  background-color: #0772c9; }
  .buttonOff:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24); }
  .buttonOff:active {
    background-color: #0268bb;
    box-shadow: none; }

.showOff {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/redwifi/icons/PassOff.png");
  background-size: 100% auto;
  cursor: pointer; }

.showOn {
  position: absolute;
  top: 18px;
  right: 35px;
  width: 30px;
  height: 30px;
  background-image: url("../../img/redwifi/icons/PassOn.png");
  background-size: 100% auto;
  cursor: pointer; }

.colorPassword {
  position: absolute;
  top: 28px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: default;
  background-color: #dcdce6; }

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) {
  .pageCont {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 950px;
    height: auto;
    text-align: center;
    padding-bottom: 10px; } }
@media only screen and (max-width: 900px) {
  .pageCont {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1) {
  .pageCont {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 90%;
    height: auto;
    text-align: center;
    padding-bottom: 10px; }

  .cardData {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 950px;
    width: 95%;
    height: auto;
    padding: 50px 0px;
    border-radius: 0.4em;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); } }
@media only screen and (max-width: 768px) {
  .pageCont {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px; }

  .cardData {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 950px;
    width: 95%;
    height: auto;
    padding: 50px 0px;
    border-radius: 0.4em;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); } }
@media only screen and (min-device-width: 414px) and (max-width: 736px) and (min-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .bannerBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
    background-position: 30% 0px;
    background-size: cover;
    background-repeat: no-repeat; }

  .pageCont {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px; }

  .cardData {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 950px;
    width: 95%;
    height: auto;
    padding: 20px 0px;
    border-radius: 0.4em;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }

  .infoPage {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 93%;
    height: 80px; }

  .totalplayBrand {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    left: 0%;
    width: 128px;
    height: 28px; }

  .boxTitle {
    position: relative;
    float: left;
    width: 100%;
    height: 280px; }

  .rowBrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 350px;
    height: 120px; }

  .formColumn {
    float: left;
    margin: 0 5%;
    max-width: 350px;
    width: 85%;
    height: auto; }

  .contInputAddPop {
    position: relative;
    float: left;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    min-height: 50px;
    text-align: left; }
    .contInputAddPop p {
      height: auto;
      font-size: 12px; }

  .rowInfo {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding-left: 4.21%;
    margin-bottom: 30px; } }
@media only screen and (max-width: 550px) {
  .bannerBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
    background-position: 30% 0px;
    background-size: cover;
    background-repeat: no-repeat; }

  .pageCont {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 10px; }

  .cardData {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 950px;
    width: 95%;
    height: auto;
    padding: 30px 0px;
    border-radius: 0.4em;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }

  .totalplayBrand {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 128px;
    height: 28px; }

  .boxTitle {
    position: relative;
    float: left;
    width: 100%;
    height: 280px; }

  .rowBrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 350px;
    height: 120px; }

  .formColumn {
    float: none;
    margin: 0 auto;
    max-width: 350px;
    width: 85%;
    height: auto; }

  .contInputAddPop {
    position: relative;
    float: left;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 100%;
    height: auto;
    min-height: 50px;
    text-align: left;
    padding: 0px; }
    .contInputAddPop p {
      height: auto;
      font-size: 12px; }

  .rowInfo {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding-left: 0%;
    margin-bottom: 30px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 770px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .cardData {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 950px;
    width: 95%;
    height: auto;
    padding: 40px 0px;
    border-radius: 0.4em;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35); }

  .formColumn {
    float: left;
    margin: 0 3%;
    width: 43%; } }
@media only screen and (max-width: 667px) {
  .totalplayBrand {
    position: relative;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 128px;
    height: 28px; }

  .boxTitle {
    position: relative;
    float: left;
    width: 100%;
    height: 150px;
    margin-top: 20px; }

  .rowBrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    right: 80px;
    width: 350px;
    height: 120px; }

  .infoPage {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, -15%, 0);
    width: 93%;
    height: 100px; }

  .nameUser {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate3d(0, -20%, 0);
    width: 160px;
    height: auto;
    font-size: 16px;
    text-align: right;
    color: #f0f0fa;
    font-weight: lighter; } }
@media only screen and (min-device-width: 360px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .rowBrand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 350px;
    height: 120px; }
    .rowBrand .wifiTotalBrand {
      position: relative;
      float: left;
      margin: 0 0 20px 0;
      width: 70px;
      height: 46px; }
    .rowBrand .textBox {
      position: relative;
      float: left;
      height: 100%;
      width: 270px;
      color: #f0f0fa;
      text-align: right;
      font-weight: lighter; } }
@media only screen and (max-width: 360px) {
  .rowBrand {
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -80%, 0);
    right: 50%;
    width: 90%;
    height: 120px; }
    .rowBrand .wifiTotalBrand {
      position: relative;
      float: right;
      margin: 0 0 10px 0;
      width: 70px;
      height: 46px; }
    .rowBrand .textBox {
      position: relative;
      float: right;
      height: 100%;
      width: 270px;
      color: #f0f0fa;
      text-align: right;
      font-weight: lighter; }

  .infoPage {
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate3d(-50%, -12%, 0);
    width: 93%;
    height: 80px; } }

/*# sourceMappingURL=main.css.map */
